#panel {
    font-weight: bold;
    font-feature-settings: "tnum";
    padding: 0 !important;
    transition-duration: 250ms;
    /* height: 34px; */
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.65);
    margin: 2px;
    border-radius: 9999px;
    }
    #panel:overview { background-color: transparent; }